@media screen and (max-width: 1439px) {
  .welcome__background {
    position: relative;
    margin: 0 auto;
  }
  .welcome__content {
    margin-left: 20px;
  }
  .offer__header-left {
    margin-left: 20px;
  }
  .offer__header-button {
    margin-right: 20px;
  }
  .offer__wrapper {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 447px);
    justify-content: center;
  }
  .offer__wrapper-block-1:last-of-type {
    position: relative;
    left: 50%;
    margin-left: 15px;
    grid-column: 1 3;
  }
  .frame-2 {
    padding: 80px 0;
  }
  .frame-2__content {
    gap: 40px;
    justify-content: center;
  }
}
@media screen and (max-width: 1389px) {
  .frame-1 {
    margin: 70px 0;
  }
  .frame-1__content {
    justify-content: center;
  }
}
@media screen and (max-width: 1380px) {
  .about {
    position: relative;
  }
  .about__background {
    position: absolute;
    top: 32%;
    left: 22%;
    margin-left: -225px;
  }
  .about__background img {
    width: 450px;
  }
  .about__column {
    position: absolute;
    left: 60%;
    margin-left: -337.5px;
    width: 675px;
    height: 736px;
  }
  .subscribe__content {
    margin: 0 auto;
    max-width: 1380px;
    height: 320px;
    background-image: url(../image/10_Subscribe/background.png);
    background-repeat: no-repeat;
    background-position-x: -20px;
  }
}
@media screen and (max-width: 1269px) {
  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .footer__contact {
    height: 300px;
    text-align: right;
    border-right: 0px;
  }
  .footer__organick {
    margin: 0 auto;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #d5d5d5;
    order: 1;
  }
  .footer__utility {
    height: 300px;
    text-align: left;
    border-right: 0px;
  }
}
@media screen and (max-width: 1240px) {
  .about {
    position: relative;
  }
  .about__background {
    width: 450px;
    position: absolute;
    top: 62%;
    left: 67%;
    margin-left: -225px;
  }
  .about__background img {
    width: 450px;
  }
  .about__column {
    position: absolute;
    left: 50%;
    margin-left: -337.5px;
    width: 675px;
    height: 736px;
  }
  .about__button {
    left: 25%;
    margin-left: -99.5px;
    top: 650px;
    position: absolute;
  }
}
@media screen and (max-width: 1080px) {
  .testimonial {
    max-width: 100%;
  }
  .testimonial__content-header {
    margin-bottom: 25px;
    height: 510px;
  }
  .testimonial__content-row {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin: 0 auto;
    max-width: 1104px;
    max-height: 250px;
    display: flex;
  }
}
@media screen and (max-width: 1050px) {
  .subscribe__row {
    padding: 50px 70px;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    margin: 40px 0;
    max-width: 100%;
  }
  .header__menu {
    position: absolute;
    left: 23%;
    right: 17%;
  }
  .header__menu_toggle {
    top: 20px;
    right: 20px;
    position: fixed;
    visibility: hidden;
  }
  .header__menu_btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  .header__menu_btn > span, .header__menu_btn > span::before, .header__menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .header__menu_btn > span::before {
    content: "";
    top: -8px;
  }
  .header__menu_btn > span::after {
    content: "";
    top: 8px;
  }
  .header__menu-list {
    z-index: 2;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #eceff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .header__menu-item {
    padding: 10px 0px;
    margin-left: 0px;
  }
  .header__menu-item a {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    padding: 5px 2px;
    color: #274c5b;
  }
  .header__menu-item:first-of-type {
    margin-left: 0px;
  }
  .header__menu-item:last-of-type {
    margin-left: 0px;
  }
  .header__menu-item_green a {
    color: #7eb693;
  }
  .header__menu_toggle:checked ~ .header__menu-list {
    visibility: visible;
    right: 0px;
  }
  .header__cart {
    right: 40px;
  }
}
@media screen and (max-width: 963px) {
  .welcome__background {
    position: relative;
    background-position-x: -300px;
    margin: 0 auto;
  }
  .welcome__content {
    margin-left: 20px;
  }
  .offer__content {
    padding: 50px 0;
  }
  .offer__header {
    height: 160px;
    flex-direction: column;
    align-items: center;
  }
  .offer__wrapper {
    margin-top: 120px;
  }
  .offer__wrapper-block-1:last-of-type {
    left: 0;
    margin-left: 0px;
  }
}
@media screen and (max-width: 781px) {
  .eco__item {
    width: 100%;
    max-width: 781px;
  }
  .eco__item img {
    width: 781px;
    max-width: 200%;
  }
  .eco__content {
    background-color: #ffffff;
    left: 50%;
    margin-left: -350px;
    margin-bottom: 40px;
    padding: 30px 50px 40px 50px;
    border-radius: 25px;
    max-width: 700px;
    min-height: 533px;
  }
  .eco__content .yellowtail {
    padding: 5px 0 15px 0;
  }
}
@media screen and (max-width: 705px) {
  .welcome__background {
    position: relative;
    background-position-x: -400px;
    margin: 0 auto;
    height: 613px;
  }
  .welcome__content {
    height: 613px;
    margin-left: 20px;
  }
  .welcome__text {
    margin-top: 13px;
    max-width: 496px;
    font-size: 50px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #274c5b;
  }
  .welcome__title {
    margin-top: 119px;
    max-width: 241px;
    font-size: 36px;
    font-family: "Yellowtail", cursive;
    color: #7eb693;
  }
  .frame-1 {
    margin: 140px 0;
    max-width: 100%;
  }
  .frame-1__content {
    padding: 0px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1380px;
    gap: 20px;
    height: 250px;
    width: 320px;
  }
  .frame-1__natural {
    color: #ffffff;
    background-image: url(../image/03_Frame-1/background_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 178px;
  }
  .frame-1__natural-content {
    margin-top: 35px;
    margin-left: 36px;
    width: 200px;
  }
  .frame-1__title {
    font-size: 26px;
    width: 126px;
    font-family: "Yellowtail", cursive;
  }
  .frame-1__subtitle {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 260px;
  }
  .frame-1__offer {
    background-image: url(../image/03_Frame-1/background_02.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 178px;
  }
  .frame-1__offer-content {
    margin-top: 35px;
    margin-left: 36px;
    width: 200px;
  }
  .frame-1__subtitle-2 {
    color: #274c5b;
  }
  .about {
    position: relative;
    width: 100%;
    min-height: 406px;
    background-color: #f9f8f8;
    margin-bottom: 0px;
  }
  .about__content {
    width: 90%;
    padding: 0px;
    margin: 0 auto;
    max-width: 600px;
    min-height: 336px;
    display: flex;
    align-items: center;
  }
  .about__background {
    visibility: hidden;
    height: 342px;
    width: 450px;
    position: absolute;
    top: 62%;
    left: 67%;
    margin-left: -225px;
  }
  .about__background img {
    visibility: hidden;
    width: 0px;
  }
  .about__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50%;
    margin-left: -45%;
    max-width: 675px;
    height: 570px;
    width: 90%;
  }
  .about__column-title-1 {
    max-width: 122px;
    margin-bottom: 10px;
  }
  .about__column-text-1 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #274c5b;
    width: 310px;
    margin-bottom: 25px;
  }
  .about__column-text-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #525c60;
    width: 270px;
    height: 140px;
    margin-bottom: 0px;
    max-width: 700px;
  }
  .about__row-1 {
    width: 320px;
    background-image: url(../image/04_About_us/icon_01.png);
    background-repeat: no-repeat;
    background-position: 30px 50%;
    margin-bottom: 30px;
  }
  .about__column-title-2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #274c5b;
    font-weight: 400;
    width: 170px;
    margin-bottom: 10px;
    padding-left: 120px;
  }
  .about__column-text-3 {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #525c60;
    font-weight: 400;
    width: 170px;
    padding-left: 120px;
  }
  .about__row-2 {
    width: 320px;
    background-image: url(../image/04_About_us/icon_02.png);
    background-repeat: no-repeat;
    background-position: 30px 50%;
    margin-bottom: 50px;
  }
  .about__button {
    background-position: 50%;
    background-image: url(../image/04_About_us/button.png);
    background-size: 130px;
    background-repeat: no-repeat;
    width: 199px;
    height: 82px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 50%;
    margin-left: -99.5px;
    top: 550px;
    position: absolute;
  }
  .about__button p {
    color: #ffffff;
    top: 66%;
    margin-top: -23px;
    position: relative;
    left: 50px;
  }
  .testimonial__png {
    margin: 0 auto;
    max-width: 1440px;
    height: 1000px;
  }
  .testimonial__content-header-subtitle {
    font-size: 25px;
  }
  .testimonial__content-header-text {
    font-size: 14px;
  }
  .testimonial__content-row {
    margin: 0 auto;
    width: 95%;
    width: 300px;
    max-width: 1104px;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
  }
  .testimonial__content-row-item-border {
    width: 122px;
    height: 122px;
  }
  .testimonial__content-row-item {
    width: 112px;
    height: 112px;
  }
  .testimonial__content-row-item-0 {
    top: 32px;
  }
  .testimonial__content-row-item-1 {
    font-size: 22px;
  }
  .testimonial__content-row-item-2 {
    font-size: 11px;
  }
  .offer {
    background-color: #274c5b;
    width: 100%;
  }
  .offer__content {
    padding: 30px 0;
    margin: 0 auto;
    max-width: 1380px;
    min-height: 780px;
  }
  .offer__header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    flex-direction: column;
    align-items: center;
  }
  .offer__header-left {
    min-width: 300px;
    margin-left: 20px;
  }
  .offer__header-text-2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }
  .offer__header-button {
    margin-top: -41px;
    top: 50%;
    position: relative;
    background-image: url(../image/07_Offer/button.png);
    width: 267px;
    height: 82px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
  }
  .offer__header-button p {
    color: #274c5b;
    top: 50%;
    margin-top: -13px;
    position: absolute;
    left: 34px;
  }
  .offer__wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 360px 360px 360px;
    width: 300px;
    padding: 0;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    margin-top: 120px;
    height: 1100px;
  }
  .offer__wrapper-block-1 {
    margin: 0 auto;
    width: 300px;
    height: 350px;
    background-color: #f9f8f8;
    border-radius: 29px;
  }
  .offer__wrapper-block-1:last-of-type {
    position: relative;
    grid-column: 1 3;
    left: 0;
    margin-left: 0px;
    margin: 0 auto;
  }
  .offer__wrapper-content {
    margin: 30px auto 35px auto;
    width: 220px;
    height: 310px;
  }
  .offer__wrapper-content img {
    margin-left: 20px;
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
  }
  .offer__wrapper-up p {
    width: 50px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #274c5b;
    padding: 8px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 8px;
  }
  .offer__wrapper-text {
    width: 220px;
    padding-bottom: 20px;
    color: #274c5b;
    border-bottom: 1px solid #d4d4d4;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .offer__wrapper-price {
    position: relative;
    display: flex;
    font-family: "Open Sans", sans-serif;
  }
  .offer__wrapper-price img {
    width: 50px;
    height: 13px;
    position: absolute;
    top: 2px;
    right: 0%;
  }
  .offer__wrapper-price-1 {
    text-decoration: line-through;
    font-size: 11px;
    font-weight: 400;
    color: #b8b8b8;
  }
  .offer__wrapper-price-2 {
    font-size: 11px;
    font-weight: bold;
    color: #274c5b;
    margin-left: 15px;
  }
  .eco {
    position: static;
  }
  .eco p {
    margin-right: 20px;
  }
  .eco__item:first-of-type {
    display: none;
  }
  .eco__item:last-of-type {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: inline-block;
  }
  .eco__content {
    margin: 0 auto;
    position: static;
    padding: 0px;
    border-radius: 0px;
    width: 280px;
    min-height: 533px;
  }
  .eco__title {
    font-size: 42px;
    margin-bottom: 40px;
    width: 280px;
  }
  .eco__subtitle {
    font-size: 21px;
    margin-bottom: 15px;
    width: 280px;
  }
  .eco__text {
    font-size: 16px;
    margin-bottom: 20px;
    vertical-align: top;
    line-height: 26px;
    width: 280px;
  }
  .frame-2 {
    padding: 80px 0;
    width: 100%;
    background-color: #eff6f1;
  }
  .frame-2__content {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 580px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  .frame-2__cart-1 {
    width: 260px;
    height: 380px;
    background-image: url(../image/09_Frame-2/background_01.png);
  }
  .frame-2__cart-text {
    display: inline-block;
    margin-left: 40px;
    margin-top: 190px;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #274c5b;
    padding: 18px 50px;
    border-radius: 15px;
  }
  .frame-2__cart-2 {
    width: 260px;
    height: 380px;
    background-image: url(../image/09_Frame-2/background_02.png);
  }
  .frame-2__cart-3 {
    width: 260px;
    height: 380px;
    background-image: url(../image/09_Frame-2/background_03.png);
  }
  .subscribe {
    margin-bottom: 85px;
    padding: 30px 0;
    max-width: 100%;
  }
  .subscribe__content {
    position: relative;
    margin: 0 auto;
    max-width: 1380px;
    height: 320px;
    background-image: url(../image/10_Subscribe/background.png);
    background-repeat: no-repeat;
    background-position-x: 5%;
    height: 180px;
    right: 0%;
  }
  .subscribe__row {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    flex-direction: column;
  }
  .subscribe__text {
    margin: 0 auto;
    width: 270px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  .subscribe__button {
    margin: 0 auto;
    display: flex;
    width: 300px;
    max-width: 568px;
    height: 120px;
    align-items: center;
  }
  .subscribe__field {
    margin-right: 10px;
  }
  .subscribe__field-2 {
    font-family: "Open Sans", sans-serif;
    width: 100px;
    height: 15px;
    font-weight: 400;
    color: #525c60;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #cccccc;
  }
  .subscribe__button-2 img {
    position: relative;
    left: none;
    margin-left: 25px;
  }
  .subscribe__button-2 p {
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    display: inline;
  }
  .subscribe__submit {
    background-color: #274c5b;
    bottom: 10px;
    border: 0;
    border-radius: 17px;
    width: 120px;
    height: 45px;
    cursor: pointer;
  }
  .subscribe__vector {
    width: 20px;
    margin-left: 5px;
    padding: 5px 0;
    margin-left: 5px;
    background-color: #335b6b;
    border-radius: 50%;
  }
}
@media screen and (max-width: 600px) {
  .organic {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .organic__content {
    width: 320px;
    max-width: 1400px;
    min-height: 320px;
    margin: 0 auto;
  }
  .organic__header {
    width: 285px;
    height: 120px;
    margin: 0 auto 36px auto;
  }
  .organic__header-title {
    margin: 0 auto;
    width: 105px;
  }
  .organic__header-subtitle {
    width: 285px;
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #274c5b;
  }
  .organic__wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-rows: 400px 400px;
    grid-template-columns: repeat(auto-fill, 320px);
    max-width: 1400px;
    width: 320px;
  }
  .organic__wrapper-block-1 {
    margin: 0 auto;
    width: 247px;
    height: 390px;
    background-color: #f9f8f8;
    border-radius: 29px;
  }
  .organic__wrapper-content {
    margin: 30px auto 35px auto;
    width: 240px;
    height: 540px;
  }
  .organic__wrapper-content img {
    width: 240px;
    height: 240px;
    margin-bottom: 10px;
  }
  .organic__wrapper-up {
    width: 100px;
  }
  .organic__wrapper-up p {
    width: 60px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #274c5b;
    padding: 12px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 8px;
  }
  .organic__wrapper-text {
    width: 230px;
    padding-bottom: 20px;
    color: #274c5b;
    border-bottom: 1px solid #d4d4d4;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .organic__wrapper-price {
    position: relative;
    display: flex;
    font-family: "Open Sans", sans-serif;
  }
  .organic__wrapper-price img {
    width: 45px;
    height: 10px;
    position: absolute;
    top: 3px;
    right: 0%;
  }
  .organic__wrapper-price-1 {
    text-decoration: line-through;
    font-size: 11px;
    font-weight: 400;
    color: #b8b8b8;
  }
  .organic__wrapper-price-2 {
    font-size: 11px;
    font-weight: bold;
    color: #274c5b;
    margin-left: 15px;
  }
}
@media screen and (max-width: 569px) {
  .footer {
    margin-bottom: 85px;
    max-width: 100%;
  }
  .footer__content {
    margin: 0 auto;
    display: flex;
    max-width: 1380px;
    min-height: 369px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .footer__contact {
    width: 270px;
    height: 300px;
    text-align: center;
    border-right: 0px;
  }
  .footer__contact-title {
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-weight: bold;
    font-size: 30px;
  }
  .footer__contact-subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #525c60;
    margin-top: 35px;
  }
  .footer__contact-text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #525c60;
    margin-top: 5px;
  }
  .footer__organick {
    gap: 30px;
    width: 670px;
    height: 369px;
    text-align: center;
    margin: 0 auto;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #d5d5d5;
    order: 1;
  }
  .footer__organick-logo {
    margin-top: 36px;
    width: 200px;
    height: 56px;
  }
  .footer__organick-text {
    margin: 0 auto;
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #525c60;
    margin-top: 45px;
  }
  .footer__organick-applications {
    justify-content: center;
    display: flex;
    margin-top: 60px;
  }
  .footer__organick-application {
    margin: 0 10px;
    border-radius: 100%;
    background-color: #eff6f1;
    width: 60px;
    height: 60px;
  }
  .footer__organick-application img {
    position: relative;
    top: 20px;
  }
  .footer__utility {
    width: 270px;
    height: 300px;
    text-align: center;
    border-right: 0px;
  }
  .footer__utility-title {
    font-family: "Roboto", sans-serif;
    color: #274c5b;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer__utility-text {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #525c60;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 428px) {
  .header {
    margin: 40px 0 100px 0;
    max-width: 100%;
  }
  .header__content {
    display: flex;
    flex-direction: column;
  }
  .header__cart {
    top: 70px;
    right: 50%;
    margin-right: -80px;
  }
}/*# sourceMappingURL=media.css.map */