@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap');
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.yellowtail {
    font-family: 'Yellowtail', cursive;
    font-size: 36px;
    color: #7EB693;
}

.header {
    margin: 40px 0;
    max-width: 100%;

    &__content{
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        max-width: 1380px;
        width: 95%;
        min-height: 72px;
    }
    
    &__logo{
        max-width: 200px;
        max-height: 56px;
    }
    
    &__menu{
        position: absolute;
        left: 23%;
        right: 17%;

        &_toggle {
            position: absolute;
            visibility: hidden;
        }
    }

    &__menu-list{
        display: flex;
    }

    &__menu-item {
        margin-left: 40px;

        a {
            font-family: 'Roboto', sans-serif;
            font-size: 19px;
            padding: 5px 2px;
            color: #274C5B;
        }

        &:first-of-type {
            margin-left: 0px;
        }

        &:last-of-type {
            margin-left: 60px;
        }

        &_green {
            a {
                color: #7EB693;
            }
        }
    }

    &__cart{
        position: absolute;
        right: 0%;
        width: 159px;
        height: 70px;
        border: 1px solid #D4D4D4;
        border-radius: 28.96px;
        display: flex;
        align-items: center;
        background-color: #D9D9D9;
        filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));

        p {
            color: #274C5B;
        }
    }

    &__cart-content{
        width: 56px;
        height: 56px;
        background-color: #274C5B;
        border-radius: 50%;
        margin-left: 10px;
        img {
            position: relative;
            top: 50%;
            left: 50%;
            margin-top: -12px;
            margin-left: -13px;
        }
    }

    &__cart-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-left: 10px;
    }
}

.welcome {
    max-width: 100%;
    // min-height: 913px;

    &__background {
        background-image: url(../image/02_Welcome/background.png);
        margin: 0 auto;
        max-width: 1440px;
        height: 913px;
    }

    &__content {
        max-width: 1380px;
        height: 913px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }

    &__title {
        margin-top: 239px;
        max-width: 241px;
        font-size: 36px;
        font-family: 'Yellowtail', cursive;
        color: #7EB693;
    }
    
    &__text {
        margin-top: 13px;
        max-width: 496px;
        font-size: 70px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #274C5B;
    }

    &__button {
        margin-top: 32px;
        position: relative;
        background-image: url(../image/02_Welcome/button.png);
        width: 219px;
        height: 82px;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 400;
        p {
            color: #274C5B;
            top: 50%;
            margin-top: -13px;
            position: absolute;
            left: 34px;
        }
    }
}

.frame-1 {
    margin: 100px 0;
    max-width: 100%;

    &__content {
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1380px;
        // min-height: 378px;
        gap: 20px;
    }

    &__natural {
        color: #ffffff;
        background-image: url(../image/03_Frame-1/background_01.png);
        width: 665px;
        height: 378px;
    }

    &__natural-content {
        margin-top: 105px;
        margin-left: 56px;
    }

    &__title {
        font-size: 36px;
        width: 126px;
        font-family: 'Yellowtail', cursive;
    }

    &__subtitle {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        max-width: 260px;
    }

    &__offer {
        background-image: url(../image/03_Frame-1/background_02.png);
        width: 665px;
        height: 378px;
    }

    &__offer-content {
        margin-top: 105px;
        margin-left: 56px;
    }

    &__subtitle-2 {
        color: #274C5B;
    }
}

.about {
    width: 100%;
    min-height: 1006px;
    background-color: #F9F8F8;
    margin-bottom: 120px;

    &__content {
        padding: 130px 0;
        margin: 0 auto;
        max-width: 1380px;
        height: 736px;
        display: flex;
        align-items: center;
    }

    &__background {
        width: 675px;
        height: 642px;
    }

    &__column {
        width: 675px;
        height: 736px;
    }

    &__column-title-1{
        width: 122px;
        margin-bottom: 10px;
    }

    &__column-text-1 {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        font-weight: bold;
        color: #274C5B;
        width: 521px;
        margin-bottom: 25px;
    }

    &__column-text-2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #525C60;
        width: 670px;
        margin-bottom: 64px;
    }

    &__row-1 {
        width: 627px;
        background-image: url(../image/04_About_us/icon_01.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
        margin-bottom: 30px;
    }

    &__column-title-2 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        color: #274C5B;
        font-weight: 400;
        width: 225px;
        margin-bottom: 10px;
        padding-left: 120px;
    }

    &__column-text-3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: #525C60;
        font-weight: 400;
        width: 520px;
        padding-left: 120px;
    }

    &__row-2 {
        width: 627px;
        background-image: url(../image/04_About_us/icon_02.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
        margin-bottom: 50px;
    }

    &__button {
        position: relative;
        background-image: url(../image/04_About_us/button.png);
        width: 199px;
        height: 82px;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 400;
        p {
            color: #ffffff;
            top: 50%;
            margin-top: -13px;
            position: absolute;
            left: 34px;
        }
    }
}

.organic {
    max-width: 100%;
    margin-bottom: 120px;
    
    &__content {
        max-width: 1400px;
        min-height: 1380px;
        margin: 0 auto;
    }

    &__header {
        width: 285px;
        height: 120px;
        margin: 0 auto 36px auto;
    }

    &__header-title {
        margin: 0 auto;
        width: 105px;
    }

    &__header-subtitle {
        width: 285px;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        font-weight: bold;
        color: #274C5B;
    }

    &__wrapper {
        display: grid;
        justify-content: center;
        grid-gap: 10px;
        margin: 0 10px;
        grid-template-rows: 590px 590px;
        grid-template-columns: repeat(auto-fill, 447px);
        max-width: 1400px;
    }

    &__wrapper-block-1 {
        width: 447px;
        height: 590px;
        background-color: #F9F8F8;
        border-radius: 29px;
    }

    &__wrapper-content {
        margin: 30px auto 35px auto;
        width: 387px;
        height: 540px;

        img {
            width: 387px;
            height: 378px;
            margin-bottom: 20px;
        }
    }

    &__wrapper-up {

        p {
            width: 100px;
            border-radius: 8px;
            color: #FFFFFF;
            background-color: #274C5B;
            padding: 12px 20px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: bold;
            position: relative;
            text-align: center;
            top: 8px;
        }
    }

    &__wrapper-text {
        width: 387px;
        padding-bottom: 20px;
        color: #274C5B;
        border-bottom: 1px solid #D4D4D4;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__wrapper-price {
        position: relative;
        display: flex;
        font-family: 'Open Sans', sans-serif;

        img {
            width: 85px;
            height: 19px;
            position: absolute;
            top: 3px;
            right: 0%;
        }
    }

    &__wrapper-price-1 {
        text-decoration: line-through;
        font-size: 17px;
        font-weight: 400;
        color: #B8B8B8;
    }

    &__wrapper-price-2 {
        font-size: 18px;
        font-weight: bold;
        color: #274C5B;
        margin-left: 15px;
    }
}

.testimonial {
    max-width: 100%;

    &__png {
        margin: 0 auto;
        max-width: 1440px;
        height: 1248px;
        background-image: url(../image/06_Testimonial/background.png);
        background-repeat: no-repeat;
    }

    &__content {
        max-width: 1440px;
        padding-top: 125px;
        padding-bottom: 150px;
        text-align: center;
    }

    &__content-header {
        margin: 0 auto;
        max-width: 966px;
        height: 618px;
        border-bottom: 2px solid #E0E0E0;
        margin-bottom: 100px;
    }


    &__content-header-subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #274C5B;
        font-size: 45px;
        margin-bottom: 60px;
    }

    &__content-header-png-1 {
        margin: 0 auto;
        display: block;
        margin-bottom: 18px;
        width: 115px;
        height: 115px;
    }

    &__content-header-png-2 {
        margin: 0 auto;
        display: block;
        width: 123px;
        height: 27px;
        margin-bottom: 32px;
    }

    &__content-header-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #525C60;
        max-width: 900px;
        width: 90%;
        margin: 0 auto 23px auto;
    }

    &__content-header-title-2 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 26px;
        color: #274C5B;
    }

    &__content-header-subtitle-2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #525C60;
    }

    &__content-row {
        width: 95%;
        margin: 0 auto;
        max-width: 1104px;
        max-height: 250px;
        display: flex;
        justify-content: space-between;
    }

    &__content-row-item-border {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 6px solid #7EB693;
    }

    &__content-row-item {
        width: 240px;
        height: 240px;
        background-color: #F1F1F1;
        border-radius: 100%;
        margin-left: 5px;
        margin-top: 5px;
    }

    &__content-row-item-0 {
        position: relative;
        left: 50%;
        margin-left: -77.5px;
        top: 80px;
        width: 155px;
        height: 86px;
    }

    &__content-row-item-1 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 42px;
        color: #274C5B;
    }

    &__content-row-item-2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #274C5B;
    }
}

.offer {
    background-color: #274C5B;
    width: 100%;

    &__content {
        padding: 138px 0;
        margin: 0 auto;
        max-width: 1380px;
        min-height: 780px;
    }

    &__header {
        height: 170px;
        display: flex;
        justify-content: space-between;
    }

    &__header-left {
        min-width: 521px;
    }

    &__header-text-2 {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        font-weight: bold;
        color: #ffffff;
    }

    &__header-button {
        margin-top: -41px;
        top: 50%;
        position: relative;
        background-image: url(../image/07_Offer/button.png);
        width: 267px;
        height: 82px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        p {
            color: #274C5B;
            top: 50%;
            margin-top: -13px;
            position: absolute;
            left: 34px;
        }
    }

    &__wrapper {
        display: grid;
        justify-content: center;
        grid-gap: 10px;
        grid-template-rows: 590px;
        grid-template-columns: 447px 447px 447px;
        max-width: 1400px;
        padding: 0 20px;
    }

    &__wrapper-block-1 {
        width: 447px;
        height: 590px;
        background-color: #F9F8F8;
        border-radius: 29px;
    }

    &__wrapper-content {
        margin: 30px auto 35px auto;
        width: 387px;
        height: 540px;

        img {
            width: 387px;
            height: 378px;
            margin-bottom: 20px;
        }
    }

    &__wrapper-up {

        p {
            width: 100px;
            border-radius: 8px;
            color: #FFFFFF;
            background-color: #274C5B;
            padding: 12px 20px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: bold;
            position: relative;
            text-align: center;
            top: 8px;
        }
    }

    &__wrapper-text {
        width: 387px;
        padding-bottom: 20px;
        color: #274C5B;
        border-bottom: 1px solid #D4D4D4;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__wrapper-price {
        position: relative;
        display: flex;
        font-family: 'Open Sans', sans-serif;

        img {
            width: 85px;
            height: 19px;
            position: absolute;
            top: 3px;
            right: 0%;
        }
    }

    &__wrapper-price-1 {
        text-decoration: line-through;
        font-size: 17px;
        font-weight: 400;
        color: #B8B8B8;
    }

    &__wrapper-price-2 {
        font-size: 18px;
        font-weight: bold;
        color: #274C5B;
        margin-left: 15px;
    }
}

.eco {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;

    &__item {
        width: 50%;
        // height: 623px;
    }

    &__content {
        position: absolute;
        right: 60px;
        background-color: #FFFFFF;
        margin-left: -70px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px 60px 50px 60px;
        border-radius: 25px;
        max-width: 600px;
        min-height: 533px;

        .yellowtail {
            padding: 5px 0 15px 0;
        }
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        color: #274C5B;
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 40px;
        width: 300px;
    }

    &__subtitle {
        font-family: 'Roboto', sans-serif;
        color: #274C5B;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        color: #525C60;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        vertical-align: top;
        line-height: 26px;
    }
}

.frame-2 {
    padding: 135px 0;
    width: 100%;
    background-color: #EFF6F1;

    &__content {
        margin: 0 auto;
        max-width: 1440px;
        min-height: 580px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__cart-1 {
        width: 460px;
        height: 580px;
        background-image: url(../image/09_Frame-2/background_01.png);
    }

    &__cart-text {
        display: inline-block;
        margin-left: 85px;
        margin-top: 240px;
        background-color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #274C5B;
        padding: 30px 70px;
        border-radius: 15px;
    }

    &__cart-2 {
        width: 460px;
        height: 580px;
        background-image: url(../image/09_Frame-2/background_02.png);
    }

    &__cart-3 {
        width: 460px;
        height: 580px;
        background-image: url(../image/09_Frame-2/background_03.png);
    }
}

.subscribe {
    margin-bottom: 85px;
    padding: 30px 0;
    max-width: 100%;

    &__content {
        margin: 0 auto;
        max-width: 1380px;
        height: 320px;
        background-image: url(../image/10_Subscribe/background.png);
        background-repeat: no-repeat;
    }

    &__row {
        padding: 100px 70px;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        width: 323px;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
    }

    &__button {
        display: flex;
        max-width: 568px;
        height: 120px;
        align-items: center;
    }

    &__field {
        margin-right: 10px;
    }

    &__field-2 {
        font-family: 'Open Sans', sans-serif;
        width: 290px;
        height: 32px;
        font-weight: 400;
        color: #525C60;
        padding: 25px 30px;
        font-size: 18px;
        border-radius: 20px;
        border: 1px solid #CCCCCC;
    }

    &__button-2 {

        img {
            position: relative;
            left: -12px;
            margin-left: 25px;
        }

        p {
            font-size: 18px;
            color: #FFFFFF;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            display: inline;
        }
    }

    &__submit {
        background-color: #274C5B;
        bottom: 10px;
        border: 0;
        border-radius: 17px;
        width: 197px;
        height: 82px;
        cursor: pointer;
    }

    &__vector {
        margin-left: 5px;
        padding: 10px 0;
        margin-left: 25px;
        background-color: #335B6B;
        border-radius: 50%;
    }
}

.footer {
    margin-bottom: 85px;
    max-width: 100%;

    &__content {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        max-width: 1380px;
        min-height: 369px;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__contact {
        width: 270px;
        height: 369px;
        text-align: right;
    }

    &__contact-title {
        font-family: 'Roboto', sans-serif;
        color: #274C5B;
        font-weight: bold;
        font-size: 30px;
    }

    &__contact-subtitle {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #525C60;
        margin-top: 35px;
    }

    &__contact-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #525C60;
        margin-top: 5px;
    }

    &__organick {
        gap: 30px;
        width: 670px;
        height: 369px;
        border-left: 1px solid #D5D5D5;
        border-right: 1px solid #D5D5D5;
        text-align: center;
    }

    &__organick-logo {
        margin-top: 36px;
        width: 200px;
        height: 56px;
    }

    &__organick-text {
        margin: 0 auto;
        width: 540px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #525C60;
        margin-top: 45px;
    }

    &__organick-applications {
        justify-content: center;
        display: flex;
        margin-top: 60px;
    }

    &__organick-application {
        margin: 0 10px;
        border-radius: 100%;
        background-color: #EFF6F1;
        width: 60px;
        height: 60px;

        img {
            position: relative;
            top: 20px;
        }
    }

    &__utility {
        width: 270px;
        height: 369px;
        text-align: left;
    }

    &__utility-title {
        font-family: 'Roboto', sans-serif;
        color: #274C5B;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__utility-text {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #525C60;
        margin-bottom: 25px;
    }
}

.map {
    width: 100%;

    &__content {
        max-width: 1440px;
        margin: 0 auto;

        img{
            width: 1440px;
            max-width: 100%;
        }
    }
}